<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %> 


<div class="container"><hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Register</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input type="email" name="email" id="" class="form-control" placeholder="Your Email..."><br>
                <input type="password" name="password" id="" class="form-control" placeholder="Your Password..."><br>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs') %> 